input {
  font-family: "Geeist Mono", monospace;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  padding-right: 4rem;
  letter-spacing: 0.2ch;
  border-radius: 6px;
  color: black;
  border-color: black;
  border-style: solid;
  background: gray;
  outline: none;
  transition: border-color 0.2s, color 0.2s;
}

label {
  position: absolute;
  color: black;
  font-weight: 800;
}
