@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  background: #fff;
  color: #333;
}

.inner {
  width: 1200px;
  margin: auto;
}

header {
  height: 100px;
  background: #fff;
  padding: 35px 0px 10px 0px;
  position: relative;
}
/* background: #fff; => 색상은 마음대로 주면 된다 */
/* position: relative; => nav가 position: absolute; 할 때 부모나 조상 기준으로 잡아줘야 해서 */
nav {
  position: absolute;
  top: 0;
  right: 0;
}
/* nav를 오른쪽에 둬야하는데 선생은 position: abolute;로 공중에 띄워줬다. */

.slide {
  height: 300px;
  background: #40b0f9;
}

.contents {
  height: 200px;
  background: #ff884d;
  display: flex;
}
.contents article {
  width: 400px;
}
.contents .gall {
  background: #00d2a5;
}

footer {
  height: 100px;
  background: #666;
}
