* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  font-style: none;
  color: inherit;
}

.slider-container {
  border: 2px solid black;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  transition: 0.5s ease-in-out;
}

.slider-items {
  display: flex;
}

.slider-items li {
  list-style: none;
  width: 100%;
}

.slider-items img {
  vertical-align: top;
}

.arrow-buttons > a.prev,
.arrow-buttons > a.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  text-decoration: none;
}

.arrow-buttons > a.prev {
  left: 10px;
}

.arrow-buttons > a.next {
  right: 10px;
}
