body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img1 {
  background-image: url("./original-1e1654b78f9e65b4676a93e05de29b1f.jpg");
  background-size: cover;
  width: 300px;
  height: 200px;
}
.img2 {
  background-image: url("./Exclude.png");
  mix-blend-mode: screen;
  background-size: cover;
  width: 300px;
  height: 200px;
  position: absolute;
}
