@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  background: #fff;
  color: #333;
}

/* ------------------------------------ */

header {
  height: 100px;
  background: #003366;
}

header .inner {
  position: relative;
  width: 1200px;
  height: 100%;
  background: #003366;
  margin: auto;
  padding-top: 30px;
}

nav {
  position: absolute;
  top: 59px;
  right: 0;
  z-index: 10;
}

nav > ul {
  display: flex;
}

nav > ul > li > a {
  display: block;
  width: 150px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

nav > ul > li:hover > a {
  background: #f4d01f;
  color: #003366;
}

.sub {
  display: none;
}

.sub a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
}

.sub a:hover {
  background: #003366;
  color: #fff;
}

.menuBg {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 155px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

/* ------------------------------------ */

.slide {
  position: relative;
  height: 300px;
  width: 1200px;
  margin: auto;
  background: #40b0f9;
}

.slide ul li {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 300px;
}

.slide ul li a {
  display: block;
  height: 100%;
}

.slide ul li.s1 {
  display: block;
  background: url(../images/s1.jpg) no-repeat center/cover;
}

.slide ul li.s2 {
  background: url(../images/s2.jpg) no-repeat center/cover;
}

.slide ul li.s3 {
  background: url(../images/s3.jpg) no-repeat center/cover;
}

.slide ul li h2 {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #003366;
  text-shadow: 0 5px 10px #1ec3c0;
  font-size: 35px;
}

/* ------------------------------------ */

.contents {
  width: 1200px;
  height: 200px;
  margin: auto;
  background: #ff884d;
  display: flex;
}

.contents article {
  width: 400px;
}

.con {
  padding: 10px;
  position: relative;
}

.tabmenu {
  display: flex;
}

.tabmenu > li {
  width: 150px;
  background: #d3d3d3;
}

.tabmenu > li > h2 > a {
  display: block;
  text-align: center;
  padding: 5px 0;
}

.tabmenu > li.on {
  background: #003366;
  color: #fff;
}

.tabcon {
  position: absolute;
  left: 0;
  width: 100%;
  background: #003366;
  padding: 5px;
  height: 140px;
}

/* ------------------------------------ */

.gall {
  display: none;
}
.gall ul {
  display: flex;
}

/* ------------------------------------ */

.contents .banner {
  background: #2cc;
}

/* ------------------------------------ */

footer {
  height: 120px;
  background: #666;
}

footer .inner {
  width: 1200px;
  margin: auto;
  background: #fc6;
  height: 100%;
}
